* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --header-green: #222e27;
    --pastel-green: #beebd1;
    --text-grey: #686868;
}

body {
    background-color: #e8edea;
}

.library-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100vh;
}

.header {
    background-color: #f7f7f7;
    width: 75vw;
    padding: 24px 36px;
    border-radius: 12px;
    border: solid 1px var(--pastel-green);
}

h3 {
    color: var(--header-green);
}

.top,
.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: var(--pastel-green);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--header-green);
    font-weight: 600;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #bcdfca;
    transition: 0.3s;
}

img {
    width: 24px;
}

.columns {
    margin-top: 24px;
}

.columns p {
    color: var(--text-grey);
}