* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

:root {
    --header-green: #222e27;
    --pastel-green: #beebd1;
    --text-grey: #686868;
}

body {
    background-color: #e8edea;
}

p {
    color: var(--text-grey);
}
.library-wrapper {
    display: flex;
    align-items: center;
    margin-top: min(15vh, 300px);
    gap: 24px;
    flex-direction: column;
}

.header,
.books > div {
    background-color: #f7f7f7;
    width: min(80vw, 1000px);
    border-radius: 12px;
    border: solid 1px var(--pastel-green);
}

.header {
    padding: 24px 36px;
}

h3 { 
    color: var(--header-green);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: var(--pastel-green);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--header-green);
    font-weight: 600;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #bcdfca;
    transition: 0.3s;
}

img {
    width: 24px;
}

.columns {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 8fr 5fr 3fr 3fr 2fr 1fr;
    gap: 24px;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.books > div {
    padding: 16px 36px;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 5fr 3fr 3fr 2fr 1fr;
    gap: 24px;
}

.remove {
    padding: 1px;
    background-color: #d4bcbb;
}

.remove:hover {
    background-color: #c7b0af;
}

.unread {
    background-color: #dbdbdb;
}

.unread:hover {
    background-color: #cecece;
}

/* DIALOG */

dialog[open] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.dialog-wrapper {
    background-color: #f7f7f7;
    padding: 24px 24px;
    border-radius: 12px;
    border: solid 1px var(--pastel-green);
}

.dialog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--text-grey);
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form > div > input {
    font-size: 1rem;
    padding: 4px;
}

form button {
    margin-top: 8px;
}